@font-face {
  font-family: 'font_awesome_5_brandsregular';
  src: url("../assets/fonts/font_awesome_5_brands-regular-400-webfont.woff2") format("woff2"), url("../assets/fonts/font_awesome_5_brands-regular-400-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font_awesome_5_prolight';
  src: url("../assets/fonts/font_awesome_5_pro-light-300-webfont.woff2") format("woff2"), url("../assets/fonts/font_awesome_5_pro-light-300-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font_awesome_5_proregular';
  src: url("../assets/fonts/font_awesome_5_pro-regular-400-webfont.woff2") format("woff2"), url("../assets/fonts/font_awesome_5_pro-regular-400-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font_awesome_5_prosolid';
  src: url("../assets/fonts/font_awesome_5_pro-solid-900-webfont.woff2") format("woff2"), url("../assets/fonts/font_awesome_5_pro-solid-900-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansblack';
  src: url("../assets/fonts/nunitosans-black-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansblack_italic';
  src: url("../assets/fonts/nunitosans-blackitalic-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansbold';
  src: url("../assets/fonts/nunitosans-bold-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansbold_italic';
  src: url("../assets/fonts/nunitosans-bolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansextrabold';
  src: url("../assets/fonts/nunitosans-extrabold-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansextrabold_italic';
  src: url("../assets/fonts/nunitosans-extrabolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansextralight';
  src: url("../assets/fonts/nunitosans-extralight-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansextralight_italic';
  src: url("../assets/fonts/nunitosans-extralightitalic-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 1, 2020 */
@font-face {
  font-family: 'nunito_sansextralight_italic';
  src: url("../assets/fonts/nunitosans-extralightitalic-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansitalic';
  src: url("../assets/fonts/nunitosans-italic-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sanslight';
  src: url("../assets/fonts/nunitosans-light-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sanslight_italic';
  src: url("../assets/fonts/nunitosans-lightitalic-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sansregular';
  src: url("../assets/fonts/nunitosans-regular-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sanssemibold';
  src: url("../assets/fonts/nunitosans-semibold-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_sanssemibold_italic';
  src: url("../assets/fonts/nunitosans-semibolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/nunitosans-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url("../assets/fonts/opensans-bold-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url("../assets/fonts/opensans-bolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold';
  src: url("../assets/fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansextrabold_italic';
  src: url("../assets/fonts/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url("../assets/fonts/opensans-italic-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 1, 2020 */
@font-face {
  font-family: 'open_sanslight';
  src: url("../assets/fonts/opensans-light-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight_italic';
  src: url("../assets/fonts/opensans-lightitalic-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("../assets/fonts/opensans-regular-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../assets/fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold_italic';
  src: url("../assets/fonts/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../assets/fonts/opensans-semibolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=fonts-face.css.map */