@charset "UTF-8";
body {
  font-family: "Open-Sans", arial, sans-serif;
}

header {
  background-image: url("../assets/images/Banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100vh;
  position: relative;
}

.dimmed {
  position: relative;
}

.dimmed:before {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
}

.navbar-dark {
  position: relative;
  z-index: 3;
}

/* remove navbar button stying */
.navbar-toggler {
  background: none;
  border: none;
  /* remove the blue outline when active or focused */
  /* basic styles for each icon bar */
  /* styles for when .navbar is closed */
}

.navbar-toggler:active, .navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  /* custom .navbar-dark .icon-bar background */
  /* .navbar open top .icon-bar rotated down 45° */
  /* .navbar open middle .icon-bar invisible */
  /* .navbar open bottom .icon-bar rotated up 45° */
}

.navbar-dark .navbar-toggler .icon-bar {
  background: #ffffff;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar {
  /* .navbar closed top .icon-bar no rotation - straight */
  /* .navbar open middle .icon-bar visible */
  /* .navbar open bottom .icon-bar no rotation - straight */
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-custom {
  background-color: black;
  font-family: "Nunito", arial, san-serif;
}

.navbar-brand img {
  height: 41px !important;
  width: 100px !important;
  margin-top: 4.2%;
}

.nav-link {
  color: white !important;
}

.nav-item {
  margin-top: 1.1%;
  font-family: "Nunito", arial, san-serif;
  font-size: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-custom-contact-nav {
  background: transparent;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  font-family: "Nunito", arial, san-serif;
  font-size: 20px;
  width: 8rem;
}

.navbar:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-title__container {
  margin-top: 10%;
  position: relative;
  z-index: 3;
}

.header-title__container h1 {
  font-family: "Nunito", arial, san-serif;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
}

.dropdown-menu {
  background: transparent;
  border: none;
}

.dropdown-menu .dropdown-item {
  background: transparent;
  color: white;
}

.header-copy__container {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 2% 11% 2% 11%;
  position: relative;
  z-index: 3;
}

.header-button__container {
  text-align: center;
  position: relative;
  z-index: 3;
}

.header-button__container .btn-custom-contact-header {
  background: #E13BFB;
  color: #ffffff;
  border-radius: 25px;
  width: 16rem;
  height: 3.5rem;
}

.header-icon__container {
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 49%;
  z-index: 3;
}

@media only screen and (max-width: 532px) {
  .header-title__container {
    margin-top: 25%;
  }
  .header-title__container h1 {
    font-size: 35px;
  }
  .header-copy__container {
    margin-top: 7%;
    padding: 2% 11% 2% 11%;
  }
  .header-icon__container {
    bottom: 5%;
    left: 45%;
  }
  .btn-custom-contact-nav {
    width: 100%;
    height: 3.5rem;
  }
  .dropdown-menu {
    background: black;
  }
  .dropdown-menu .dropdown-item {
    background: black;
    color: white;
  }
}

.services-title__container {
  text-align: center;
  margin-top: 2%;
}

.services-title__container h2 {
  color: #1f1f1f;
  font-family: "Nunito", arial, san-serif;
  font-size: 40px;
}

.media--custom {
  margin-top: 10%;
}

.media-body--custom h5 {
  font-family: "Nunito", arial, san-serif;
  color: #1f1f1f;
  font-size: 26px;
}

.media-body__copy--custom {
  color: #95989A;
  font-size: 17px;
}

@media only screen and (max-width: 532px) {
  .services-title__container {
    margin-top: 2%;
  }
  .services-title__container h2 {
    font-size: 30px;
  }
  .mr-3--custom {
    width: 68px;
  }
  .media--custom {
    margin-top: 8%;
    margin-bottom: 8%;
  }
  .media-body--custom h5 {
    font-family: "Nunito", arial, san-serif;
    color: #1f1f1f;
    font-size: 20px;
  }
  .media-body__copy--custom {
    color: #95989A;
    font-size: 17px;
  }
}

#about {
  background-color: #f0f0f0;
  margin-top: 2%;
}

.about--image__container {
  padding: 0;
}

.about-content__container {
  padding: 15%;
}

.about--title__container h2 {
  font-family: "Nunito", arial, san-serif;
  font-size: 40px;
}

.about--copy__container p {
  color: #95989A;
}

.about--button__container {
  margin-top: 10%;
}

.btn-custom-contact-about {
  background: #8A0BDB;
  color: #ffffff;
  border-radius: 25px;
  width: 16rem;
  height: 3.5rem;
}

@media only screen and (max-width: 532px) {
  .about-content__container {
    text-align: center;
    padding: 0%;
    margin-top: 10%;
  }
}

.gallery-content__container {
  margin-top: 2%;
}

.gallery--image__wrap {
  position: relative;
}

.gallery--image__wrap img {
  width: 100%;
}

.gallery--image__wrap:hover .gallery--image__description_layer {
  visibility: visible;
  opacity: 1;
}

.gallery--image__wrap:hover .gallery--image__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery--image__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(64, 64, 64, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
}

.gallery--image__description_layer h5 {
  text-align: center;
  margin-top: 25%;
  font-family: "Nunito", arial, san-serif;
  font-size: 25px;
}

.gallery--image__description_layer p {
  text-align: center;
  font-size: 16px;
  padding-left: 5%;
  padding-right: 5%;
}

.gallery--image__description {
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
}

@media only screen and (width: 768px) {
  .gallery--image__description_layer h5 {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 532px) {
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border: none;
  }
  .scrolling-wrapper .card {
    display: inline-block;
    border: none !important;
  }
  .scrolling-wrapper {
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  .gallery--image__description_layer p {
    font-size: 14px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
  .gallery--image__description_layer--top-margin {
    margin-top: 20%;
  }
}

#test-slide {
  background: #8A0BDB;
}

.custom-padding--remove {
  padding: 0;
}

.testimonial-carousel {
  background: #8A0BDB;
  position: relative;
  padding: 0;
  margin-top: 2%;
}

.slick-dots li button {
  font-size: 0;
}

.testimonial-carousel__slide {
  height: 585px;
  width: 100%;
  background: #8A0BDB;
  text-align: center;
}

.testimonial-carousel__copy--container {
  padding: 12%;
}

.testimonial-carousel__title h2 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  text-align: center;
}

.testimonial-carousel__copy {
  color: #ffffff;
  font-size: 24px;
}

.testimonial-carousel__name {
  color: #ffffff;
  font-size: 20px;
}

.news-title__container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.news-title__container h2 {
  color: #1f1f1f;
  font-family: 80px;
  font-size: 40px;
}

.news-card__container--large {
  position: relative;
  height: 100%;
}

.news-copy__title {
  color: #1f1f1f;
  font-size: 25px;
  margin-top: 10%;
}

.news-copy__time {
  color: #95989A;
  font-size: 20px;
  position: absolute;
  bottom: -50px;
}

.fa-clock {
  color: #8A0BDB;
}

@media only screen and (max-width: 532px) {
  .news-title__container {
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .news-title__container h2 {
    font-size: 30px;
  }
  .news-copy__title {
    font-size: 18px;
    font-family: "Nunito", arial, san-serif;
  }
  .news-copy__time {
    font-size: 15px;
    color: #95989A;
    position: unset;
  }
}

#news-letter {
  background: #8A0BDB;
  margin-top: 5%;
}

.news-letter-title__container {
  padding-top: 5%;
  padding-bottom: 2%;
}

.news-letter-title__container h2 {
  color: #ffffff;
  font-family: "Nunito", arial, san-serif;
  font-size: 40px;
  text-align: center;
}

.news-letter-input__container {
  text-align: center;
  padding-bottom: 10%;
}

.btn-custom-contact-newsletter {
  background: #E13BFB;
  color: #ffffff;
  border-radius: 25px;
  width: 10rem;
  height: 3rem;
  margin-top: -1%;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (max-width: 532px) {
  .btn-custom-contact-newsletter {
    width: 100%;
    height: 3.6rem;
    margin-top: 3%;
  }
}

@media only screen and (max-width: 532px) {
  .btn-custom-contact-newsletter {
    margin-right: unset;
  }
  .news-letter-title__container {
    padding: 5%;
  }
  .news-letter-title__container h2 {
    font-size: 30px;
  }
}

#footer {
  background: black;
  padding-bottom: 5%;
}

.footer-image__container {
  height: 41px !important;
  width: 100px !important;
  margin-top: 10%;
  text-align: center;
}

.footer-image__container--links {
  margin-top: 2%;
}

.footer-image__container--links a {
  text-decoration: none;
  color: white;
}

.footer-image__container--links i {
  color: #8A0BDB;
  margin-right: 2%;
}

.footer-social-icons__container {
  text-align: right;
  color: white;
  font-size: 30px;
  margin-top: 6.5%;
}

.footer-social-icons__container i {
  padding-left: 2%;
  padding-right: 2%;
}

.footer-social-icons__container a {
  text-decoration: none;
  color: white;
}

.footer-terms__container {
  margin-top: 5%;
  text-align: right;
  font-family: "Nunito", arial, san-serif;
  font-size: 16px;
}

.footer-terms__container a {
  color: white;
  text-decoration: none;
  padding-left: 3%;
}

.footer-brand__container {
  color: white;
  font-size: 15px;
  text-align: right;
  margin-top: 5%;
}

.footer-brand__container a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 532px) {
  .footer-image__container {
    margin-left: 38%;
    margin-bottom: 5%;
  }
  .footer-image__container--links {
    text-align: center;
  }
  .footer-image__container--links i {
    color: #8A0BDB;
  }
  .footer-image__container--links a {
    font-size: 19px;
  }
  .footer-social-icons__container {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 10%;
  }
  .footer-social-icons__container i {
    padding-left: 5%;
    padding-right: 5%;
  }
  .footer-terms__container {
    text-align: center;
  }
  .footer-brand__container {
    text-align: center;
    font-size: 13px;
  }
}
/*# sourceMappingURL=main-overide.css.map */