        //  font colour variables
        $title-colour: #ffffff;
        $alt-title-colour: #1f1f1f;
        $copy-colour: #95989A;
        $alt-copy-colour: #ffffff;
        $button-colour-copy:#ffffff;
        //background colour variables
        $main-bg: #ffffff;
        $grey-section-bg: #f0f0f0;
        $purple-section-bg: #8A0BDB;
        //button
        $button-colour: #E13BFB;
        $alt-button-colour: #8A0BDB;
        $button-border-radius:25px;
        // fonts
        $title-font: "Nunito",
        arial,
        san-serif;
        $title-font-size-lg: 80px;
        $title-font-size-md: 40px;
        $title-font-size-mob: 35px;
        $title-font-size-mob-alt: 30px;
        $nav-font: "Nunito",
        arial,
        san-serif;
        body {
            font-family: "Open-Sans", arial, sans-serif;
        }
        
        //fixed backgrounnd cover for header
        header {
            background-image: url("../assets/images/Banner.png");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #464646;
            height: 100vh;
            position: relative;
        }
        
        .dimmed {
            position: relative;
        }
        
        .dimmed:before {
            content: " ";
            z-index: 1;
            display: block;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(90, 90, 90, 0.5);
        }
        
        .navbar-dark {
            position: relative;
            z-index: 3;
        }
        /* remove navbar button stying */
        
        .navbar-toggler {
            background: none;
            border: none;
            /* remove the blue outline when active or focused */
            &:active,
            &:focus {
                outline: 0;
            }
            /* basic styles for each icon bar */
            .icon-bar {
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
                margin: 4px 0 4px 0;
                transition: all 0.2s;
                /* custom .navbar-dark .icon-bar background */
                .navbar-dark & {
                    background: #ffffff;
                }
                /* .navbar open top .icon-bar rotated down 45° */
                &:nth-of-type(1) {
                    transform: rotate(45deg);
                    transform-origin: 10% 10%;
                }
                /* .navbar open middle .icon-bar invisible */
                &:nth-of-type(2) {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
                /* .navbar open bottom .icon-bar rotated up 45° */
                &:nth-of-type(3) {
                    transform: rotate(-45deg);
                    transform-origin: 10% 90%;
                }
            }
            /* styles for when .navbar is closed */
            &.collapsed {
                .icon-bar {
                    /* .navbar closed top .icon-bar no rotation - straight */
                    &:nth-of-type(1) {
                        transform: rotate(0);
                    }
                    /* .navbar open middle .icon-bar visible */
                    &:nth-of-type(2) {
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                    /* .navbar open bottom .icon-bar no rotation - straight */
                    &:nth-of-type(3) {
                        transform: rotate(0);
                    }
                }
            }
        }
        
        .navbar-custom {
            background-color: rgba($color: #000000, $alpha: 1.0);
            font-family: $nav-font;
        }
        
        .navbar-brand img {
            height: 41px!important;
            width: 100px !important;
            margin-top: 4.2%;
        }
        
        .nav-link {
            color: white!important;
        }
        
        .nav-item {
            margin-top: 1.1%;
            font-family: $nav-font;
            font-size: 20px;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        
        .btn-custom-contact-nav {
            background: transparent;
            border: 1px solid white;
            border-radius: 25px;
            color: white;
            font-family: $nav-font;
            font-size: 20px;
            width: 8rem
        }
        
        .navbar:focus {
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .header-title__container {
            margin-top: 10%;
            position: relative;
            z-index: 3;
            h1 {
                font-family: $title-font;
                color: $title-colour;
                font-size: $title-font-size-lg;
                text-align: center;
            }
        }
        
        .dropdown-menu {
            background: transparent;
            border: none;
            .dropdown-item {
                background: transparent;
                color: white;
            }
        }
        
        .header-copy__container {
            color: #ffffff;
            text-align: center;
            font-size: 20px;
            padding: 2% 11% 2% 11%;
            position: relative;
            z-index: 3;
        }
        
        .header-button__container {
            text-align: center;
            position: relative;
            z-index: 3;
            .btn-custom-contact-header {
                background: $button-colour;
                color: $button-colour-copy;
                border-radius: $button-border-radius;
                width: 16rem;
                height: 3.5rem;
            }
        }
        
        .header-icon__container {
            text-align: center;
            position: absolute;
            bottom: 5%;
            left: 49%;
            z-index: 3;
        }
        
        @media only screen and (max-width: 532px) {
            .header-title__container {
                margin-top: 25%;
                h1 {
                    font-size: $title-font-size-mob;
                }
            }
            .header-copy__container {
                margin-top: 7%;
                padding: 2% 11% 2% 11%;
            }
            .header-icon__container {
                bottom: 5%;
                left: 45%;
            }
            .btn-custom-contact-nav {
                width: 100%;
                height: 3.5rem;
            }
            .dropdown-menu {
                background: black;
                .dropdown-item {
                    background: black;
                    color: white;
                }
            }
        }
        
        //Our Services
        .services-title__container {
            text-align: center;
            margin-top: 2%;
            h2 {
                color: $alt-title-colour;
                font-family: $title-font;
                font-size: $title-font-size-md;
            }
        }
        
        .media--custom {
            margin-top: 10%;
        }
        
        .media-body--custom h5 {
            font-family: $title-font;
            color: $alt-title-colour;
            font-size: 26px;
        }
        
        .media-body__copy--custom {
            color: $copy-colour;
            font-size: 17px;
        }
        
        @media only screen and (max-width: 532px) {
            .services-title__container {
                margin-top: 2%;
                h2 {
                    font-size: $title-font-size-mob-alt;
                }
            }
            .mr-3--custom {
                width: 68px;
            }
            .media--custom {
                margin-top: 8%;
                margin-bottom: 8%;
            }
            .media-body--custom h5 {
                font-family: $title-font;
                color: $alt-title-colour;
                font-size: 20px;
            }
            .media-body__copy--custom {
                color: $copy-colour;
                font-size: 17px;
            }
        }
        
        //About us section
        #about {
            background-color: $grey-section-bg;
            margin-top: 2%;
        }
        
        .about--image__container {
            padding: 0;
        }
        
        .about-content__container {
            padding: 15%;
        }
        
        .about--title__container h2 {
            font-family: $title-font;
            font-size: $title-font-size-md;
        }
        
        .about--copy__container p {
            color: $copy-colour;
        }
        
        .about--button__container {
            margin-top: 10%;
            ;
        }
        
        .btn-custom-contact-about {
            background: $alt-button-colour;
            color: $button-colour-copy;
            border-radius: $button-border-radius;
            width: 16rem;
            height: 3.5rem;
        }
        
        @media only screen and (max-width: 532px) {
            .about-content__container {
                text-align: center;
                padding: 0%;
                margin-top: 10%;
            }
        }
        
        //Gallery Section
        .gallery-content__container {
            margin-top: 2%;
        }
        
        .gallery--image__wrap {
            position: relative;
            img {
                width: 100%
            }
            &:hover {
                .gallery--image__description_layer {
                    visibility: visible;
                    opacity: 1;
                }
                .gallery--image__description {
                    transform: translateY(0);
                }
            }
        }
        
        .gallery--image__description_layer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(64, 64, 64, 0.7);
            color: #fff;
            visibility: hidden;
            opacity: 0;
            display: inline-block;
            align-items: center;
            justify-content: center;
            transition: opacity .2s, visibility .2s;
            h5 {
                text-align: center;
                margin-top: 25%;
                font-family: $title-font;
                font-size: 25px;
            }
            p {
                text-align: center;
                font-size: 16px;
                padding-left: 5%;
                padding-right: 5%;
            }
        }
        
        .gallery--image__description {
            transition: .2s;
            transform: translateY(1em);
        }
        
        @media only screen and (width: 768px) {
            .gallery--image__description_layer h5 {
                margin-top: 15%;
            }
        }
        
        @media only screen and (max-width: 532px) {
            .scrolling-wrapper {
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                border: none;
                .card {
                    display: inline-block;
                    border: none !important;
                }
            }
            .scrolling-wrapper {
                margin-bottom: 20px;
                width: 100%;
                -webkit-overflow-scrolling: touch;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            .gallery--image__description_layer p {
                font-size: 14px;
                text-align: center;
                margin-left: 5%;
                margin-right: 5%;
            }
            .gallery--image__description_layer--top-margin {
                margin-top: 20%;
            }
        }
        
        ///
        #test-slide {
            background: $purple-section-bg;
        }
        
        .custom-padding--remove {
            padding: 0;
        }
        
        .testimonial-carousel {
            background: $purple-section-bg;
            position: relative;
            padding: 0;
            margin-top: 2%
        }
        
        .slick-dots li button {
            font-size: 0;
        }
        
        .testimonial-carousel__slide {
            height: 585px;
            width: 100%;
            background: #8A0BDB;
            text-align: center;
        }
        
        .testimonial-carousel__copy--container {
            padding: 12%;
        }
        
        .testimonial-carousel__title {
            h2 {
                color: $title-colour;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 65px;
                text-align: center;
            }
        }
        
        .testimonial-carousel__copy {
            color: $alt-copy-colour;
            font-size: 24px;
        }
        
        .testimonial-carousel__name {
            color: $alt-copy-colour;
            font-size: 20px;
        }
        
        // News Section
        .news-title__container {
            text-align: center;
            margin-top: 5%;
            margin-bottom: 5%;
            h2 {
                color: $alt-title-colour;
                font-family: $title-font-size-lg;
                font-size: $title-font-size-md;
            }
        }
        
        .news-card__container--large {
            position: relative;
            height: 100%;
        }
        
        .news-copy__title {
            color: $alt-title-colour;
            font-size: 25px;
            margin-top: 10%
        }
        
        .news-copy__time {
            color: $copy-colour;
            font-size: 20px;
            position: absolute;
            bottom: -50px;
        }
        
        .fa-clock {
            color: #8A0BDB
        }
        
        @media only screen and (max-width: 532px) {
            .news-title__container {
                font-size: 30px;
                margin-top: 10%;
                margin-bottom: 10%;
                h2 {
                    font-size: $title-font-size-mob-alt;
                }
            }
            .news-copy__title {
                font-size: 18px;
                font-family: $title-font;
            }
            .news-copy__time {
                font-size: 15px;
                color: $copy-colour;
                position: unset;
            }
        }
        
        ///// News Letter
        #news-letter {
            background: $purple-section-bg;
            margin-top: 5%
        }
        
        .news-letter-title__container {
            padding-top: 5%;
            padding-bottom: 2%;
            h2 {
                color: $title-colour;
                font-family: $title-font;
                font-size: $title-font-size-md;
                text-align: center;
            }
        }
        
        .news-letter-input__container {
            text-align: center;
            padding-bottom: 10%;
            ;
            // margin-left: 25%;
        }
        
        .btn-custom-contact-newsletter {
            background: $button-colour;
            color: $button-colour-copy;
            border-radius: $button-border-radius;
            width: 10rem;
            height: 3rem;
            // margin-left: 40%;
            margin-top: -1%;
        }
        
        .form-control:focus {
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        @media only screen and (max-width: 532px) {
            .btn-custom-contact-newsletter {
                width: 100%;
                height: 3.6rem;
                margin-top: 3%
            }
        }
        
        @media only screen and (max-width: 532px) {
            .btn-custom-contact-newsletter {
                margin-right: unset;
            }
            .news-letter-title__container {
                padding: 5%;
                h2 {
                    font-size: $title-font-size-mob-alt;
                }
            }
        }
        
        #footer {
            background: black;
            padding-bottom: 5%;
        }
        
        .footer-image__container {
            height: 41px !important;
            width: 100px !important;
            margin-top: 10%;
            text-align: center;
        }
        
        .footer-image__container--links {
            margin-top: 2%;
            a {
                text-decoration: none;
                color: white;
            }
            i {
                color: #8A0BDB;
                margin-right: 2%
            }
        }
        
        .footer-social-icons__container {
            text-align: right;
            color: white;
            font-size: 30px;
            margin-top: 6.5%;
            i {
                padding-left: 2%;
                padding-right: 2%;
            }
            a {
                text-decoration: none;
                color: white;
            }
        }
        
        .footer-terms__container {
            margin-top: 5%;
            text-align: right;
            font-family: $title-font;
            font-size: 16px;
            a {
                color: white;
                text-decoration: none;
                padding-left: 3%;
            }
        }
        
        .footer-brand__container {
            color: white;
            font-size: 15px;
            text-align: right;
            margin-top: 5%;
            a {
                color: white;
                text-decoration: none;
            }
        }
        
        @media only screen and (max-width: 532px) {
            .footer-image__container {
                margin-left: 38%;
                margin-bottom: 5%;
            }
            .footer-image__container--links {
                text-align: center;
                i {
                    color: #8A0BDB;
                }
                a {
                    font-size: 19px;
                }
            }
            .footer-social-icons__container {
                text-align: center;
                color: white;
                font-size: 30px;
                margin-top: 10%;
                i {
                    padding-left: 5%;
                    padding-right: 5%;
                }
            }
            .footer-terms__container {
                text-align: center;
            }
            .footer-brand__container {
                text-align: center;
                font-size: 13px
            }
        }